body {
    font-family: 'Roboto', sans-serif;
    width: 1400px;
    text-align: center;
}

header {
    background-color: #f5f5f5;
}

header #menu ul li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a4a3a3;
}

header #menu ul li+li {
    margin-left: 40px;
}

header #menu ul li:hover {
    color: #0075be;
}

header #logotipoIcones {
    height: 80px;
    width: 100%;
    background-color: #f5f5f5;
}

header #logotipoIcones .logotipo {
    float: left;
    width: 50%;
}

header #logotipoIcones .icones {
    float: right;
    width: 50%;
}

#iconeLogout:hover {
    cursor: pointer;
}

#mensagemBoasVindas {
    float: right;
    width: 50%;
    visibility: hidden;
}

header #logotipoIcones .icones i+i {
    margin-left: 20px;
}

#contacto {
    padding: 10px 10px 10px 10px;
    ;
    height: 30px;
    width: 30px;
    /* float:right interfere com o hover; outros "right" não surtem efeito... */
    text-align: center;
    overflow: hidden;
    background-color: #252525;
    color: #0acb84;
    transition: 0.2s;
}

#contacto:hover {
    width: 150px;
}

#contacto:hover p {
    visibility: visible;
}

#contacto p {
    display: inline;
    visibility: hidden;
}

#contacto.scrolling {
    position: fixed;
    right: 0;
}

#banner {
    background-image: url("imagens/fundoBanner.jpg");
}

.bannerCabecalho {
    /* Isto ainda não está funcionando. */
    position: relative;
    top: 5px;
    left: 40%;
    text-align: left;
}

.bannerCabecalho h1 {
    text-transform: uppercase;
    text-align: left;
    font-size: 48px;
    color: #ccc;
}

.bannerCabecalho h2 {
    font-size: 30px;
    color: #ccc;
}

.bannerCabecalho p {
    font-style: italic;
    font-size: 20px;
}


.botaoSaibaMais {
    background-color: #f16248;
    border-radius: 28px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 31px;
    text-decoration: none;
}

.botaoSaibaMais:hover {
    background-color: #c8c8c8;
    color: #252525;
}

h1 {
    font-size: 250%;
    color: #3c368c;
    text-align: center;
}

.container {
    display: flex;
    align-items: left;
    justify-content: flex-start;
}

.container .texto {
    text-align: left;
}

.container .texto h2 {
    color: #252525;
}

.container .texto p {
    color: #7d7d7d;
}

.container .texto a {
    color: #0075be;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
}

.container .texto a:hover {
    text-decoration: underline;
}

hr {
    height: 2px;
    background-color: #7d7d7d;
}

.linha {
    display: flex;
}

.coluna {
    flex: 33.33%;
    padding: 30px;
    position: relative;
}

.coluna img {
    border-radius: 50%;
}

.coluna img:hover {
    animation-name: arredondadoParaQuadrado;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .7s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.overlay h1 {
    color: white;
    font-size: 125%;
}

.overlay h2 {
    font-size: 1em;
}

.coluna:hover .overlay {
    /* Encontrar uma maneira de referenciar .coluna img:hover */
    opacity: 1;
}

@keyframes arredondadoParaQuadrado {
    from {
        border-radius: 50%;
    }

    to {
        border-radius: 0%;
    }
}

#slider {
    background-image: url("/imagens/slider.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    /* Consertar o tamanho da imagem. */
    height: 700px;
    width: 1600px;
}

.sliderTexto {
    /* Corrigir a posição. */
    top: 50%;
    position: relative;

}

.sliderTexto h1 {
    font-size: 42px;
    color: #f27d29;
}

.sliderTexto h2 {
    font-size: 35px;
    color: #153c85;
}

.sliderTexto p {
    font-size: 26px;
    color: #153c85;
}

footer {
    background-color: #ebebeb;
    margin-top: 50px;
}

#footerHeader {
    color: #252525;
    font-weight: bold;
    text-transform: uppercase;
    /* Este último não parece estar funcionando. */
    text-align: left;
}

#footerLink {
    color: #7d7d7d;
    text-decoration: none;
}

#footerLink:hover {
    text-decoration: underline;
}

.coluna li {
    list-style-type: none;
    text-align: left;
}

.seta {
    position: relative;
}

.seta img {
    position: absolute;
    right: 50px;
    bottom: 10px;
}

#telaLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
    top: 0;
    left: 0;
    width: 100%;
    /* 100vw */
    height: 100%;
    /* 100vh */
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

#telaLogin section {
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
    text-align: center;
    background-color: white;
    border: 10px solid white;
}

#telaLogin img {
    max-width: 100%;
    max-height: calc(90vh - 20px);
    vertical-align: top;
    -webkit-user-select: none;
    user-select: none;
}

#telaLogin span {
    position: absolute;
    right: -25px;
    top: -25px;
    display: inline-block;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #999;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: white;
    -webkit-user-select: none;
    user-select: none;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 3px 5px #000;
}

#telaLogin span:hover {
    background-color: black;
    color: white;
    border-color: black;
}

#telaLogin span:active {
    box-shadow: none;
    top: -22px;
    right: -28px;
}

#telaLogin h1 {
    font-size: 125%;
    color: black;
    text-align: left;
}

#formularioLogin #botaoSubmit {
    background-color: rgb(13, 110, 253);
    color: white;
    border-radius: 20%;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 8px;
    text-decoration: none;
}

#iconeLogin {
    cursor: pointer;
}

small {
    /* A fonte não está tão pequena assim... */
    margin-bottom: 20px;
}

.erro {
    display: none;
}

.cookiesWrapper {
    position: absolute;
    background-color: #f5f5f5;
    color: rgb(170, 170, 170);
    padding: 25px 25px 30px 25px;
    border-radius: 15px;
    text-align: center;
    width: 1400px;
}

.cookiesWrapper.hide {
    opacity: 0;
    pointer-events: none;
}

.cookiesWrapper a {
    color: #0075be;
    text-decoration: none;
}

.cookiesWrapper a:hover {
    text-decoration: underline;
}

.cookiesMensagem {
    margin-top: 10px;
    display: flex;
}

.cookiesMensagem p {
    color: #858585;
    margin: 5px 0 20px 0;
    text-align: center;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #f5f5f5;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #f16248;
    cursor: pointer;
    margin-left: 50px;
}

.buttons button:hover {
    background-color: #f5f5f5;
    color: #f16248;
    border: 2px solid #f16248;
}

.buttons a {
    color: #FCBA7F;
}