@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    max-width: 1400px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.wrapper {
    padding-left: 100px;
    padding-right: 100px;

}

header {
    background: #f5f5f5;
    padding-bottom: 15px;
}

.logo-and-icons {
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
    cursor: pointer;
}

i {
    font-size: 125%;
}

i+i {
    margin-left: 20px;
}

#hamburguer-icon {
    display: none;
}

.welcome-message-and-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.welcome-message {
    margin-right: 20px;
}


nav {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}


@media screen and (max-width:800px) {
    nav {
        display: none;
    }

    #hamburguer-icon {
        display: inline;
    }
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
}

nav li {
    padding: 2px;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav li a {
    color: #a4a3a3;
}

nav li a:hover {
    color: #0075be;
}

.hero-background {
    background: url("imagens/fundoBanner.jpg");
    background-size: cover;
    margin-top: 0;
    padding: 40px;
    position: relative;
    height: 500px;
}

.hero-content .button {
    background-color: #f16248;
    border-radius: 28px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 31px;
    text-decoration: none;
}

.hero-content .button a {
    color: #f5f5f5;
}

.hero-content .button:hover a {
    color: #252525;
}

.hero-content .button:hover {
    background-color: #c8c8c8;
}

.hero-content h1 {
    font-size: 48px;
    color: #F5E9FF;
}

.hero-content p.subtitle {
    font-size: 30px;
    color: #ccc;
    font-style: normal;
}

.hero-content p {
    font-size: 20px;
    color: #ccc;
    font-style: italic;
}

#computer {
    position: absolute;
    bottom: -40px;
    right: 40px;
}

@media screen and (max-width:1100px) {
    #computer {
        display: none;
    }
}

@media screen and (max-width:800px) {
    .hero-content {
        display: block;
        text-align: center;
    }

    .hero-background {
        height: 320px;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content p.subtitle {
        font-size: 24px;
    }

    .mission-content {
        display: flex;
        flex-direction: column;
    }

    .team-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-member+.team-member {
        margin-left: 0;
        margin-top: 30px;
    }

    .footer-menu {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-menu-column {
        width: 100%;
    }

    .footer-menu>div {
        flex: 50%;
        margin-bottom: 10px;
    }

    .contact-container:hover .contact-information img {
        padding: 10px;
        margin-right: 0;
    }

    .footer-arrow {
        display: none;
    }

}

.extended-wrapper {
    position: absolute;
}

.contact-container {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 100;
}

.contact-information {
    background: #252525;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container:hover .contact-information {
    padding: 10px;
}

@media screen and (min-width:801px) {
    .contact-container:hover #telephone-number {
        display: inline;
        color: #0acb84;
    }
}

#telephone-number {
    display: none;
}

.contact-container:hover img {
    margin-right: 10px;
}

.mission h1,
.team h1,
.educational-offer h1 {
    font-size: 250%;
    color: #3c368c;
    text-align: center;
}

.mission-content {
    display: flex;
}

.mission-content-image {
    flex: 1;
    padding: 1em;
}

.mission-content-text {
    flex: 2;
    padding: 1em;
}

.mission-content-text p.subtitle {
    color: #252525;
    font-weight: bold;
    margin-top: 0;
}

.mission-content-text p {
    color: #7d7d7d;
}

.mission-content-text a {
    color: #0075be;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
}

.mission-content-text a:hover {
    text-decoration: underline;
}

.mission-content-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    height: 2px;
    background-color: #7d7d7d;
}

.team-content {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.team-member {
    flex: 33.33%;
    position: relative;
    width: 50%;
    max-width: 300px;
}

@keyframes circle-to-square {
    from {
        border-radius: 50%;
    }

    to {
        border-radius: 0%;
    }
}

.team-member:hover img {
    border-radius: 0%;
    animation-name: circle-to-square;
    animation-duration: .7s;
    animation-fill-mode: forwards;
}

.team-member:hover .team-member-caption {
    transition: .7s ease;
    opacity: 1;
}

.team-member img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    max-width: 100%;
}

.team-member+.team-member {
    margin-left: 30px;
}

.team-member-caption {
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    opacity: 0;
}

.team-member-caption h1,
.team-member-caption p {
    text-align: center;
}

.team-member-caption h1 {
    font-size: 125%;
    color: #f1f1f1;
}

.team-member-caption p {
    font-size: 1em;
}

.mission,
.team {
    padding: 1em;
}

.educational-offer {
    margin-bottom: 50px;
    padding-top: 1em;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.educational-offer-background {
    background-image: url("imagens/slider.jpg");
    background-size: cover;
    height: 511px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.educational-offer-content {
    text-align: center;
}

.educational-offer-content h1 {
    font-size: 42px;
    color: #f27d29;
}

.educational-offer-content p.subtitle {
    font-size: 35px;
}

.educational-offer-content p {
    font-size: 26px;
    color: #153c85;
}

footer {
    background-color: #ebebeb;
    padding-left: 15px;
}

.footer-menu {
    display: flex;
    padding: 20px;
}

.footer-menu-column {
    flex: 1 0 20%;
}

.footer-menu-column h1 {
    color: #252525;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
}

.footer-menu-column ul {
    padding: 0;
}

.footer-menu-column ul li a {
    color: #7d7d7d;
    text-decoration: none;
}

.footer-menu-column ul li a:hover {
    color: #7d7d7d;
    text-decoration: underline;
}

.footer-arrow {
    text-align: right;
    padding-right: 20px;
    padding-bottom: 20px;
}

.modal-container {
    padding: 0.01em 16px
}

.modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 400px;
    height: 300px;
}

.close-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.display-topright {
    position: absolute;
    right: 0;
    top: 0
}

@media screen and (max-width:1300px) {
    .cookie-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.cookie-modal {
    background-color: #f5f5f5;
}

.cookie-message {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    background-color: #f5f5f5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(170, 170, 170);
}

.cookie-message a {
    color: #0075be;
    text-decoration: none;
}

.cookie-message a:hover {
    text-decoration: underline;
}

#cookie-button {
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #f5f5f5;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    background: #f16248;
    cursor: pointer;
    margin-left: 50px;
    display: inline;
}

#cookie-button:hover {
    background: #f5f5f5;
    color: #f16248;
    border: #f16248 solid 2px;
}

#login-button {
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #f5f5f5;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #0D6EFD;
    cursor: pointer;
}

.whole-page {
    position: relative;
}

#email,
#password {
    display: inline-block;
    width: 70%;
}