@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    max-width: 1400px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.wrapper {
    padding-left: 100px;
    padding-right: 100px;

}

header {
    background: #f5f5f5;
    padding: 10px;
}

.logo-and-icons {
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
    align-items: center;
}

i {
    font-size: 125%;
}

i+i {
    margin-left: 20px;
}

nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

nav ul {
    /* text-align: center; */
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    overflow: hidden;
}

nav li {
    padding: 2px;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
}

.hero-background {
    background: url("imagens/fundoBanner.jpg");
    background-size: cover;
    margin-top: 0;
    padding: 40px;
    position: relative;
    height: 500px;
}

.hero-content .button {
    background-color: #f16248;
    border-radius: 28px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 31px;
    text-decoration: none;
}

.hero-content .button:hover {
    background-color: #c8c8c8;
    color: #252525;
}

.hero-content img {
    /* Não está bem como no protótipo... */
    position: absolute;
    bottom: 40px;
    right: 40px;
}



.contact-container {
    position: fixed;
    top: 50px;
    right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-container:hover #telephone-number {
    display: inline;
}

#telephone-number {
    display: none;
}

.contact-container img{
    margin-right: 10px;
}

.mission h1,
.team h1,
.educational-offer h1 {
    text-align: center;
}

.mission-content {
    display: flex;
}

.mission-content-image {
    flex: 1;
    padding: 1em;
}

.mission-content-text {
    flex: 2;
    padding: 1em;
}

.mission-content-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.subtitle {
    color: red;
}

.team-content {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.team-member {
    flex: 33.33%;
    position: relative;
    width: 50%;
    max-width: 300px;
}

@keyframes circle-to-square {
    from {
        border-radius: 50%;
    }

    to {
        border-radius: 0%;
    }
}

.team-member:hover img {
    border-radius: 0%;
    animation-name: circle-to-square;
    animation-duration: .7s;
    animation-fill-mode: forwards;
}

.team-member:hover .team-member-caption {
    transition: .7s ease;
    opacity: 1;
}

.team-member img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.team-member+.team-member {
    margin-left: 30px;
}

.team-member-caption {
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    opacity: 0;
}

.team-member-caption h1,
.team-member-caption p {
    text-align: center;
}

.mission,
.team {
    padding: 1em;
}

.educational-offer {
    margin-bottom: 50px;
    padding: 0;
}

.educational-offer-background {
    background: url("imagens/slider.jpg");
    background-size: cover;
    height: 511px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.educational-offer-content {
    text-align: center;
}

footer {
    background-color: #ebebeb;
}

.footer-menu {
    display: flex;
    padding: 20px;
}

.footer-menu-column {
    flex: 1 0 18%;
}

.footer-menu-column ul {
    padding: 0;
}

.footer-arrow {
    text-align: right;
    padding-right: 20px;
    padding-bottom: 20px;
}